<?xml version="1.0" encoding="UTF-8" ?>
<!--启动项设置为 trace，加载 springboot 启动内部各种详细输出-->
<Configuration status="trace">
    <Appenders>
        <!--控制台追加器-->
        <!-- <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>[%-5p] %d %c - %m%n</pattern>
            </PatternLayout>
        </Console> -->
        <!--文本追加器 append为false时每次启动清空log-->
        <File name="File" fileName="log.log" append="true">
            <PatternLayout>
                <pattern>[%-5p] %d %c - %m%n</pattern>
            </PatternLayout>
        </File>
        <!-- 达到指定大小后的操作 -->
        <RollingFile name="RollingFileInfo" fileName="${sys:user.home}/logs/info.log" 
            filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
            <ThreshouldFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <!--记录 com.autotestplatform包及其子包 debug 及其以上的记录，并输出到文件中-->
        <Logger name="com.autotestplatform" level="debug">
            <!-- AppenderRef 可以控制文件输出对象-->
            <AppenderRef ref="File" />
        </Logger>
        <!-- <root level="INFO">
            <appender-ref ref="RollingFileInfo" />
        </root> -->
    </Loggers>
</Configuration>