<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autotestplatform.dao.PlanResultMapper">
	<resultMap id="BaseResultMap" type="com.autotestplatform.entity.PlanResult">
		<id column="plan_result_id" jdbcType="INTEGER" property="planResultId" />
		<result column="plan_id" jdbcType="INTEGER" property="planId" />
		<result column="plan_result_name" jdbcType="VARCHAR" property="planResultName" />
		<result column="plan_result_log_url" jdbcType="VARCHAR" property="planResultLogUrl" />
		<result column="sum_num" jdbcType="INTEGER" property="sumNum" />
		<result column="success_num" jdbcType="INTEGER" property="successNum" />
		<result column="warn_flag" jdbcType="VARCHAR" property="warnFlag" />
		<result column="plan_result_status" jdbcType="INTEGER" property="planResultStatus" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>
	<sql id="Base_Column_List">
		plan_result_id,plan_id,plan_result_name,plan_result_log_url,sum_num,
		success_num,warn_flag,plan_result_status,create_time
	</sql>
	<select id="selectPlanResultList" parameterType="map"
		resultType="com.autotestplatform.dto.common.PlanResultDto">
		select
	        plan_result_id as planResultId,
			plan_id as planId,
			plan_result_name as planResultName,
			plan_result_log_url as planResultLogUrl,
			sum_num as sumNum,
			success_num as successNum,
			warn_flag as warnFlag,
			plan_result_status as planResultStatus,
			create_time as createTime
		from plan_result
		<if test="planId !=null">
			where plan_id = #{planId,jdbcType=INTEGER}
		</if>
		order by plan_result_id desc
		limit #{pageNow},#{pageSize}
	</select>
	<select id="selectPlanResultListCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(1)
		from plan_result
		<if test="planId !=null">
			where plan_id = #{planId,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from plan_result
		where plan_result_id = #{planResultId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from plan_result
		where plan_result_id = #{planResultId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.autotestplatform.entity.PlanResult" useGeneratedKeys="true" keyProperty="planResultId" keyColumn="plan_result_id">
		insert into plan_result (plan_id,plan_result_name,plan_result_log_url,sum_num,
        success_num,warn_flag,plan_result_status,create_time)
		values (#{planId,jdbcType=INTEGER},#{planResultName,jdbcType=VARCHAR},
			#{planResultLogUrl,jdbcType=VARCHAR},#{sumNum,jdbcType=INTEGER},#{successNum,jdbcType=INTEGER},
			#{warnFlag,jdbcType=VARCHAR},#{planResultStatus,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.autotestplatform.entity.PlanResult" useGeneratedKeys="true" keyProperty="planResultId" keyColumn="plan_result_id">
		insert into plan_result
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="planId != null">
				plan_id,
			</if>
			<if test="planResultName != null">
				plan_result_name,
			</if>
			<if test="planResultLogUrl != null">
				plan_result_log_url,
			</if>
			<if test="sumNum != null">
				sum_num,
			</if>
			<if test="successNum != null">
				success_num,
			</if>
			<if test="warnFlag != null">
				warn_flag,
			</if>
			<if test="planResultStatus != null">
				plan_result_status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="planId != null">
				#{planId,jdbcType=INTEGER},
			</if>
			<if test="planResultName != null">
				#{planResultName,jdbcType=VARCHAR},
			</if>
			<if test="planResultLogUrl != null">
				#{planResultLogUrl,jdbcType=VARCHAR},
			</if>
			<if test="sumNum != null">
				#{sumNum,jdbcType=INTEGER},
			</if>
			<if test="successNum != null">
				#{successNum,jdbcType=INTEGER},
			</if>
			<if test="warnFlag != null">
				#{warnFlag,jdbcType=VARCHAR},
			</if>
			<if test="planResultStatus != null">
				#{planResultStatus,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateSelective" parameterType="com.autotestplatform.entity.PlanResult">
		update plan_result
		<set>
			<if test="planId != null">
				plan_id = #{planId,jdbcType=INTEGER},
			</if>
			<if test="planResultName != null">
				plan_result_name = #{planResultName,jdbcType=VARCHAR},
			</if>
			<if test="planResultLogUrl != null">
				plan_result_log_url = #{planResultLogUrl,jdbcType=VARCHAR},
			</if>
			<if test="sumNum != null">
				sum_num = #{sumNum,jdbcType=INTEGER},
			</if>
			<if test="successNum != null">
				success_num = #{successNum,jdbcType=INTEGER},
			</if>
			<if test="warnFlag != null">
				warn_flag = #{warnFlag,jdbcType=VARCHAR},
			</if>
			<if test="planResultStatus != null">
				plan_result_status = #{planResultStatus,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where plan_result_id = #{planResultId,jdbcType=INTEGER}
	</update>
</mapper>