<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autotestplatform.dao.UseCasePlanRelationMapper">
  <resultMap id="BaseResultMap" type="com.autotestplatform.entity.UseCasePlanRelation">
    <id column="use_case_plan_relation_id" jdbcType="INTEGER" property="useCasePlanRelationId" />
    <result column="use_case_id" jdbcType="INTEGER" property="useCaseId" />
    <result column="plan_id" jdbcType="INTEGER" property="planId" />
    <result column="plan_status" jdbcType="INTEGER" property="planStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    use_case_plan_relation_id, use_case_id, plan_id, plan_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from use_case_plan_relation
    where use_case_plan_relation_id = #{useCasePlanRelationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from use_case_plan_relation
    where use_case_plan_relation_id = #{useCasePlanRelationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.autotestplatform.entity.UseCasePlanRelation">
    insert into use_case_plan_relation (use_case_id, 
      plan_id, plan_status)
    values (#{useCasePlanRelationId,jdbcType=INTEGER}, #{useCaseId,jdbcType=INTEGER}, 
      #{planId,jdbcType=INTEGER}, #{planStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.autotestplatform.entity.UseCasePlanRelation">
    insert into use_case_plan_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="useCaseId != null">
        use_case_id,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
      <if test="planStatus != null">
        plan_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="useCaseId != null">
        #{useCaseId,jdbcType=INTEGER},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=INTEGER},
      </if>
      <if test="planStatus != null">
        #{planStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.autotestplatform.entity.UseCasePlanRelation">
    update use_case_plan_relation
    <set>
      <if test="useCaseId != null">
        use_case_id = #{useCaseId,jdbcType=INTEGER},
      </if>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=INTEGER},
      </if>
      <if test="planStatus != null">
        plan_status = #{planStatus,jdbcType=INTEGER},
      </if>
    </set>
    where use_case_plan_relation_id = #{useCasePlanRelationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.autotestplatform.entity.UseCasePlanRelation">
    update use_case_plan_relation
    set use_case_id = #{useCaseId,jdbcType=INTEGER},
      plan_id = #{planId,jdbcType=INTEGER},
      plan_status = #{planStatus,jdbcType=INTEGER}
    where use_case_plan_relation_id = #{useCasePlanRelationId,jdbcType=INTEGER}
  </update>
  <select id="selectListByPlanId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from use_case_plan_relation
    where plan_id = #{planId,jdbcType=INTEGER}
  </select>
  <select id="selectByPlanIdAndUseCaseId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from use_case_plan_relation
    where plan_id = #{planId,jdbcType=INTEGER} and use_case_id = #{useCaseId,jdbcType=INTEGER}
  </select>
  <delete id="deletePlanIdAndUseCaseId" parameterType="java.lang.Integer">
    delete from use_case_plan_relation
    where use_case_plan_relation_id = #{useCasePlanRelationId,jdbcType=INTEGER}
  </delete>
</mapper>